
<div class="container" id="home-container">
	
	<div class="jumbotron text-center text-white" id="home-jumbo">
		<section class="home-text">
			<h1 class="large-text">Alpha Blog </h1>
			<div  class="spacing"></div>
			<p class="medium-text">Writer?  </p>
			<div class="spacing-half"></div>
			<p class="medium-text"> I hardly know her!</p> <br>
			<div class="spacing"></div>
		</section><!--
		--><section class="home-button">
			<a class="btn btn-success btn-lg" id="sign-button" href="#" role="button"> Sign Up </a>
		</section>
	</div>
</div>
