<footer if="sticky-footer" class="py-4 bg-dark text-white-50">
	<div class="container text-center">
		<small>ADD CUSTOM WEBSITE LATER K</small>
		<!-- <small> Copyright &copy; <%= link_to "Cory Selvidge", "https://website.com" %> -->
	</div>
</footer>